html {
    overflow: scroll;
}

body {
    background: #f9fafb;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    transition: all 1s ease;
}

.films-container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: 1em auto;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}

.is-striped {
    background-color: rgba(233, 200, 147, 0.2)
}

/* Flex-box column sizing */
.row-container-cell--film-name {
    width: 90%;
}

.row-container-cell--film-info {
    width: 10%;
    text-align: right;
}

.row-container-cell-info {
    width: 40%
}

.row-container-cell-info--actors,
.row-container-cell-info--year {
    width: 15%
}

/* Flex-box rows */
.row-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.row-container-row {
    width: 100%;
    display: flex;
    align-items: center;
}

.row-container-row:hover {
    cursor: pointer;
    background-color: #e6e6e6;
}

.row-container-row--head {
    background-color: #43BAC0;
    color: white;
    height: 60px;
    overflow: visible;
}

.row-container-row--head:hover {
    background-color: #43BAC0;
}

#row-container-row-search {
    width: 100%;
    font-size: 20px;
    padding: 15px;
    box-sizing: content-box;
}

.row-container-row-info {
    background-color: #a0cacf;
}

.row-container-row-info:hover {
    cursor: auto;
    background-color: #a0cacf;
}

.row-container-cell-info--year {
    text-align: right;
}

.row-container-cell-info--format {
    text-align: center;
}

.row-container-cell {
    box-sizing: border-box;
    flex-grow: 1;
    padding: 0.8em 1.2em;
    word-break: break-all;
    overflow: hidden;
    list-style: none;
}

.row-container-cell--film-name > div {
    display: inline-block;
}

.row-container-cell--film-name > div > i {
    margin-right: 10px;
}

.row-container-cell--film-name > div > span {
    vertical-align: super;
}

.row-container-cell--film-name > div:hover i > .ion-android-add-circle {
    color: #00a600;
}

.row-container-cell--head {
    text-align: center;
}

.info-row-container {
    width: 100%;
}

.row-container-cell--content i {
    font-size: 2em;
    color: #333;
}

.row-container-cell--content-actor-search {
    height: 100%;
    background: white;
    padding-top: 15px;
}

.actor-search-active {
    background-color: #a0cacf;
}

.head-title {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    line-height: 35px;
}

.head-title--right {
    float: right;
    line-height: 35px;
}

.main-title {
    font-style: italic;
    font-weight: bold;
}

.info-title {
    font-weight: bold;
}

.info-title--blue {
    color: #1a4ca8;
}

.info-title--loading {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}

.ion-android-cancel:hover {
    color: red;
}

.ion-help-circled:hover {
    color: #43BAC0;
}

.ion-android-add-circle {
    color: darkgreen;
}

@media only screen and (max-width: 600px) {
    .row-container-row-info {
        font-size: 9px;
    }
}
